header {
	text-align: right;
	padding: 15px;
	padding-bottom: 45px;
}


#google-logo {
	padding-left: 350px;
	padding-right: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 109px;
}

#search-bar {
	padding-left: 245px;
	padding-right: 245px;
	margin: 28px auto 0px;
	width: 500px;
	height: 40px;
	position: relative;

}

#square {
	display: inline-block;
	height: 40px;
	width: 480px;
	background-color: white;
	position: absolute;
	margin-left: -10px;
	margin-top: -4px;
	border: 1px solid rgba(0, 0, 0, .1);
	border: 1px solid rgba(0, 0, 0, .2);
}

input {
	position: absolute;
	z-index: 5;
	width: 420px;
	height: 34px;
	margin: 0;
	border-width: 0px;
	padding: 0;	
}


footer {
	border: solid 1px rgb(200, 200, 200);
	border-bottom: none;
	height: 39px;
	background-color: gray;
	font-family: arial sans-serif;
	color: rgba(0, 0, 0, 0.54);
	
	padding-left: 30px;
	background-color: rgb(242, 242, 242);
}

.footer-link {
	display: inline-block;
	padding: 11px 0;
	padding-right: 22px;
	font-family: arial, sans-serif;
}

.lower-link {
	font-size: 13px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.54);
}

.first-link {
	margin-left: 700px;
	display: inline-block;
}


#lower-footer {
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	
}


.lower-div {
	position: relative;
	width: 20%;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;

}

#right-div {
	
}

.something {
	float: right;
}



#higher-footer {
	height: 40px;
	border-bottom: none;
	position: fixed;
	left: 0;
	bottom: 41px;
	width: 100%;
}

.search-buttons {
	text-align: center;
 	padding-top: 30px;
 	
}

.search-buttons button {
	background-color: rgb(242, 242, 242);
	display: inline-block;
	height: 35px;
	border: none;
	font-family: arial, sans-serif;
	font-size 13px;
	color: rgb(117, 117, 117);
	font-weight: 700;
	padding: 10px 20px;

}

#google-search {
	margin-right: 10px;
	
}

#lucky-search {


}